<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>
<%= render 'comments/form', comment: Comment.new %>
<%= turbo_stream_from @project, :comments %>
<%= content_tag :div, id: "#{dom_id(@project)}_comments" do %>
  <%= render @project.comments.order(created_at: :desc) %>
<% end %>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
